

html, body {
    background-color: #21322A;
    color: white;
    font-family: Helvetica, Arial;
    font-size: 1.3rem;
    padding: 70px;
    text-align: center;
}

h2{
    font-size: 100px;
    margin: 20px;
    color: blanchedalmond;
}

button{
    padding: 10px;
    font-size: 1.3rem;
    margin: 5px;
    background-color: salmon;
    font-family: monospace;
}